<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Depth coverage Realtime</title>
    <!-- including ECharts file -->
    <script src="echarts.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.6.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.6.1/dist/js/tabulator.min.js"></script>
</head>
<body>
    <!-- prepare a DOM container with width and height -->
    <div id="get_depth" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var depthChart = echarts.init(document.getElementById('get_depth'));

   
var option = {
    backgroundColor: '#FFFFFF',
    legend: {
        data: ['now', 'last'],
        inactiveColor: '#777',
        textStyle: {
            color: '#fff'
        }
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            animation: false,
            type: 'cross',
            lineStyle: {
                color: '#376df4',
                width: 2,
                opacity: 1
            }
        }
    },
    xAxis: {
        type: 'category',
        data: [0, 250.0, 750.0, 1250.0, 1750.0, 2250.0, 2750.0, 3250.0, 3750.0, 3999],
        axisLine: { lineStyle: { color: '#8392A5' } }
    },
    yAxis: {
        scale: true,
        axisLine: { lineStyle: { color: '#8392A5' } },
        splitLine: { show: false }
    },
    grid: {
        bottom: 80
    },
    dataZoom: [{
        textStyle: {
            color: '#8392A5'
        },
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '80%',
        dataBackground: {
            areaStyle: {
                color: '#8392A5'
            },
            lineStyle: {
                opacity: 0.8,
                color: '#8392A5'
            }
        },
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }, {
        type: 'inside'
    }],
    animation: false,
    series: [
        
        {
            name: 'now',
            type: 'line',
            data: [9570, 4880.0, 5179.0, 5002.0, 4851.0, 5227.0, 5084.0, 5205.0, 5236.0, 5930],
            smooth: true,
            showSymbol: false,
            lineStyle: {
                width: 1
            }
        },
        {
            name: 'last',
            type: 'line',
            data: [2459, 5016.0, 5048.0, 5078.0, 4705.0, 5060.0, 5082.0, 5107.0, 4984.0, 2524],
            smooth: true,
            showSymbol: false,
            lineStyle: {
                width: 1
            }
        },
        
    ]
};
        // use configuration item and data specified to show chart
        depthChart.setOption(option);
    </script>

<!---stats about genonome cov-->


<div>
    <select id="filter-field">
      <option></option>
      <option value="timepoint">timepoint</option>
      <option value="rname">rname</option>
      <option value="numread">numread</option>
      <option value="startpos">startpos</option>
      <option value="endpos">endpos</option>
      <option value="covbase">covbase</option>
      <option value="coverage">coverage</option>
      <option value="meanbaseq">meanbaseq</option>
      <option value="meanmapq">meanmapq</option>
      
    </select>
  
    <select id="filter-type">
      <option value="=">=</option>
      <option value="<"><</option>
      <option value="<="><=</option>
      <option value=">">></option>
      <option value=">=">>=</option>
      <option value="!=">!=</option>
      <option value="like">like</option>
    </select>
  
    <input id="filter-value" type="text" placeholder="value to filter">
  </div>
  
  <div id="table_stats"></div>
<script type="text/javascript">

//Build Tabulator
var stats_data = [{id: "1",timepoint: "bamcovstast",rname :"AF440570.1",numread: "1",startpos: "307287",endpos: "2", covbase: "3248", coverage : "1.05699", meanbaseq: "0.0105699", meanmapq: "13.5" }]
var table = new Tabulator("#table_stats", {
    height:"100%",
    layout:"fitColumns",
    data:stats_data,
    columns:[
        {title:"timepoint", field:"timepoint"},
        {title:"rname", field:"rname"},
        {title:"numread", field:"numread"},
        {title:"startpos", field:"startpos", sorter:"number"},
        {title:"endpos", field:"endpos"},
        {title:"covbase", field:"covbase"},
        {title:"coverage", field:"coverage"},
        {title:"meanbaseq", field:"meanbaseq"},
        {title:"meanmapq", field:"meanmapq"},
    ],
});

</script>





</body>
</html>
